{
    "@context": [
        "https://www.w3.org/ns/credentials/v2",
        "https://vishwa-vyom.github.io/DID/context/farmer-context.json"
    ],
    "issuer": "${_issuer}",
    "type": [
        "VerifiableCredential",
        "FarmerCredential"
    ],
    "issuanceDate": "${validFrom}",
    "expirationDate": "${validUntil}",
    "credentialSubject": {
        "farmerId": "${farmerId}",
        "idType": "${idType}",
        "phoneNumber": "${phoneNumber}",
        "address": {
            "district": "${address_district}",
            "state": "${address_state}",
            "village": "${address_village}"
        },
        "gender": ${gender},
        "authority": "${authority}",
        "fullName": ${fullName},
        "farm": {
            "type" : "Farm",
            "ownershipType": "${ownershipType}",
            "primaryCommodity": "${primaryCommodity}",
            "totalLandArea": {
                "unit": "${totalLandArea_unit}",
                "value": ${totalLandArea_value}
            },
            "crops": ${crops}
        },
        "dateOfBirth": "${dateOfBirth}",
        "id": "${_holderId}"
    },
    
}