##Here we are injecting DateTool instance from java velocity library to set the expiry date
#set( $defaultLocale = $date.getLocale() )
#set( $calenderNow = $date.getCalendar() )
#set( $ISO8601DateTimeWithMillisUTC = "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'" )
## Adding no. of Days we want to set as expiry, here '5' represent Day and '30' represent no. of days
#set( $expiry =$calenderNow.add(5, 30))
#set( $formattedDateOfBirth = $date.toDate("yyyy-MM-dd", ${dateOfBirth}))

{
"@context": [
"https://www.w3.org/2018/credentials/v1",
"https://jainhitesh9998.github.io/tempfiles/farmer-credential.json"
],
"type": [
"VerifiableCredential",
"FarmerCredential"
],
"issuer": "${issuerId}",
"expirationDate": "${date.format($ISO8601DateTimeWithMillisUTC, $calenderNow, $defaultLocale)}",
"credentialSubject": {
"name": "${name}",
"dateOfBirth": "${date.format('yyyy-MM-dd', $formattedDateOfBirth)}",
"highestEducation": "${highestEducation}",
"maritalStatus": "${maritalStatus}",
"typeOfHouse": "${typeOfHouse}",
"numberOfDependents": ${numberOfDependents},
"address": {
"streetAddress": "${address.streetAddress}",
"addressLocality": "${address.addressLocality}",
"addressRegion": "${address.addressRegion}",
"postalCode": "${address.postalCode}",
"addressCountry": "${address.addressCountry}"
},
"phoneNumber": "${phoneNumber}",
"knowsLanguage": #if($knowsLanguage)$knowsLanguage#else#set($knowsLanguage = '[]') $knowsLanguage#end,
"works": "${works}",
"farmingTypes": #if($farmingTypes)$farmingTypes#else#set($farmingTypes = '[]') $farmingTypes#end,
"landArea": ${landArea},
"landOwnershipType": "${landOwnershipType}",
"primaryCropType": "${primaryCropType}",
"secondaryCropType": #if($secondaryCropType)"${secondaryCropType}"#else"None"#end
}
}
